:root {
    --link-color: #2196f3;
    --title-color: #000;
    --text-color: #757575;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    outline: 2px solid red;
  }
  
  /* header */
  
  .header {
    padding: 25px 0;
  }
  
  .header .container {
    display: flex;
    align-items: center;
  }
  
  .header__logo {
    color: #000;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
  .header__logo--colored {
    color: var(--link-color);
  }
  .header__nav {
    margin-right: 344px;
  }
  .header__nav__list {
    display: flex;
    gap: 50px;
  }
  .header__nav__item {
  }
  .header__nav__link {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  .header__contact__list {
    display: flex;
    gap: 50px;
  }
  
  .header__contact__link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
  }
  
  /* hero */
  
  .hero {
    display: flex;
    font-weight: 400px;
    height: 600px;
    align-items: center;
    background: #2f303a;
    text-align: center;
  }
  
  .hero__title {
    color: #fff;
    font-size: 44px;
    font-weight: 900;
    line-height: 136.364%;
    letter-spacing: 2.64px;
    text-transform: uppercase;
  }
  
  .hero__button {
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  .hero__button:hover {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 187.5%;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: #2196f3;
  }
  
  /* information */
  .information {
  }
  .information__list {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  .information__item {
  }
  .information__title {
    color: var(--title-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-right: 30px;
  }
  .information__text {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
    margin-right: 30px;
  }
  .team {
    font-weight: 400;
    background: #f5f4fa;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }
  
  .team__subtitle {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  
  .team__item {
    border-radius: 0px 0px 4px 4px;
    background-color:white ;
    height: 368px;
    margin-bottom: 94px;
  }
  .team__name {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .team__text {
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 20px;
    letter-spacing: 0.48px;
  }
  
  .team__img {
    list-style: none;
    display: flex;
    font-size: 30px;
    width: 270px;
    height: 260px;
    flex-shrink: 0;
    margin-right: 30px;
  }
  
  .team__list {
    list-style: none;
    display: flex;
    font-size: 30px;
  }
  
  .footer {
    font-weight: 600;
    background: #2f303a;
    display: flex;
    flex-wrap: wrap;
  }
  .footer__text--colored {
    color: white;
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }
  .footer__adress {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 171.429%;
    letter-spacing: 0.42px;
  }
  .footer__link {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.42px;
  }
  
  .footer__title {
    color: var(--link-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1.08px;
  }
  
  .works {
  }
  .works__subtitle {
    color: var(--title-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }
  .works__list {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  .works__item {
  }
  .works__img {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 103px;
  }
  /* portfolio */
  
  .project-buttons {
  }
  
  .project-buttons__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  .project-buttons__item {
  }
  
  .project-buttons__button {
    color: var(--title-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%;
    letter-spacing: 0.48px;
    padding: 6px 22px;
  }
  
  .projects {
  }
  
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .projects-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
  .projects-img {
  }
  
  .projects-title {
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
  }
  .projects-text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%;
    letter-spacing: 0.48px;
  }
